<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
             data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="80px" data-lg-stick-up-offset="46px"
             data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse">
                <span></span>
            </div>

            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand -->
                        <div class="rd-navbar-brand">
                            <a class="brand" href="/">
                                <img class="brand-logo-light" src="~/Content/img/esparza.png" alt="" width="172" height="32" />
                                <!--img class="brand-logo-light" src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/logo-light.png" alt="" width="172" height="32" /-->
                            </a>
                        </div>
                    </div>
                    <div class="rd-navbar-main-element">
                        <div class="rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li>
                                    <a href="index.html">Home</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">

                                        <li><a href="home-intro-slideshow.html">Slideshow</a></li>
                                        <li><a href="home-intro-full-screen.html">Full Slideshow</a></li>
                                        <li><a href="categories-carousel.html">Carousel</a></li>
                                        <li><a href="home-intro-image.html">Static Image</a></li>
                                        <li><a href="home-intro-video.html">Video</a></li>
                                        <li><a href="home-intro-video-full-screen.html">Full Video</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">About</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="about-me.html">About 1</a></li>
                                        <li><a href="about-me-fluid.html">About Full Width</a></li>
                                        <li><a href="about-me-2.html">About 2</a></li>
                                        <li><a href="about-me-2-fluid.html">About 2 Full Width</a></li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a href="#">Portfolio</a>
                                    <ul class="rd-navbar-dropdown">

                                        <li>
                                            <a href="#">Albums</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li>
                                                    <a href="#">Archive</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="albums-archive.html">Default</a></li>
                                                        <li><a href="albums-archive-fluid.html">Fluid</a></li>
                                                        <li><a href="albums-archive-fluid-2.html">Fluid 2</a></li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a href="#">Carousel</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="albums-carousel.html">Albums Carousel</a></li>
                                                        <li><a href="albums-carousel-no-crop.html">Carousel No Crop</a></li>
                                                        <li><a href="albums-carousel-split.html">Carousel Split</a></li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    <a href="#">Grid</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="albums-grid.html">Grid Default</a></li>
                                                        <li><a href="albums-grid-2.html">Grid 2</a></li>
                                                        <li><a href="albums-grid-fluid.html">Grid Fluid</a></li>
                                                        <li><a href="albums-grid-fluid-2.html">Grid Fluid 2</a></li>
                                                        <li><a href="albums-grid-fluid-3.html">Grid Fluid 3</a></li>
                                                        <li><a href="albums-grid-fluid-4.html">Grid Fluid 4</a></li>
                                                        <li><a href="albums-grid-no-crop.html">Grid No Crop</a></li>
                                                        <li><a href="albums-grid-simple.html">Grid Simple</a></li>
                                                        <li><a href="albums-grid-styles.html">Grid Item Styles</a></li>
                                                    </ul>
                                                </li>


                                                <li><a href="albums-one-column.html">One Column</a></li>
                                                <li><a href="albums-one-column-fluid.html">One Column Fluid</a></li>

                                                <li><a href="albums-thumbnails-list.html">Thumbnails List</a></li>
                                            </ul>
                                        </li>


                                        <li>
                                            <a href="#">Gallery</a>
                                            <ul class="rd-navbar-dropdown">

                                                <li>
                                                    <a href="#">Gallery Carousel</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="gallery-single-carousel.html">Carousel Default</a></li>
                                                        <li><a href="gallery-single-carousel-2.html">Carousel + Info</a></li>
                                                        <li><a href="gallery-single-carousel-center.html">Carousel Center</a></li>
                                                    </ul>
                                                </li>


                                                <li>
                                                    <a href="#">Gallery Grid</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="gallery-single-grid.html">Grid Default</a></li>
                                                        <li><a href="gallery-single-grid-2.html">Grid 2</a></li>
                                                        <li><a href="gallery-single-grid-cropped.html">Grid Cropped</a></li>
                                                        <li><a href="gallery-single-grid-fluid.html">Grid Fluid</a></li>
                                                        <li><a href="gallery-single-grid-fluid-2.html">Grid Fluid 2</a></li>
                                                        <li><a href="gallery-single-grid-fluid-2-cropped.html">Grid Fluid 2 Cropped</a></li>
                                                        <li><a href="gallery-single-grid-fluid-3.html">Grid Fluid 3</a></li>
                                                        <li><a href="gallery-single-grid-fluid-3-cropped.html">Grid Fluid 3 Cropped</a></li>
                                                        <li><a href="gallery-single-grid-simple.html">Grid Simple</a></li>
                                                    </ul>
                                                </li>


                                                <li>
                                                    <a href="#">Gallery + Sidebar</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="gallery-single-sidebar-left.html">Sidebar Left</a></li>
                                                        <li><a href="gallery-single-sidebar-left-simple.html">Sidebar Left Simple</a></li>
                                                        <li><a href="gallery-single-sidebar-right.html">Sidebar Right</a></li>
                                                        <li><a href="gallery-single-sidebar-right-simple.html">Sidebar Right Simple</a></li>
                                                    </ul>
                                                </li>


                                                <li>
                                                    <a href="#">Gallery Styles</a>
                                                    <ul class="rd-navbar-dropdown">
                                                        <li><a href="gallery-single-grid-style-default.html">Default</a></li>
                                                        <li><a href="gallery-single-grid-style-colored.html">Colored</a></li>
                                                        <li><a href="gallery-single-grid-style-zoom-only.html">Zoom Only</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>


                                        <li>
                                            <a href="#">Categories</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="categories-carousel.html">Carousel</a></li>
                                                <li><a href="categories-grid.html">Grid</a></li>
                                                <li><a href="categories-grid-fluid.html">Grid Fluid</a></li>
                                                <li><a href="categories-grid-fluid-2.html">Grid Fluid 2</a></li>
                                                <li><a href="categories-grid-fluid-3.html">Grid Fluid 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="#">Blog</a>
                                    <ul class="rd-navbar-dropdown">

                                        <li>
                                            <a href="#">Blog List</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="blog-list-classic.html">Classic</a></li>
                                                <li><a href="blog-list-simple.html">Classic Simple</a></li>
                                                <li><a href="blog-list-grid.html">Grid</a></li>
                                                <li><a href="blog-list-grid-fluid.html">Grid Fluid</a></li>
                                                <li><a href="blog-list-grid-no-sidebar.html">Grid No Sidebar</a></li>
                                            </ul>
                                        </li>


                                        <li>
                                            <a href="#">Blog Single Post</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="blog-single.html">Default</a></li>
                                                <li><a href="blog-single-alter.html">Alternate</a></li>
                                                <li><a href="blog-single-simple.html">Simple</a></li>
                                            </ul>
                                        </li>


                                        <li>
                                            <a href="#">Blog Archive</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="blog-archive.html">Default</a></li>
                                                <li><a href="blog-archive-2.html">Classic</a></li>
                                                <li><a href="blog-archive-3.html">Grid</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li>
                                            <a href="#">Layout</a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="page-dummy-classic.html">No Sidebar</a></li>
                                                <li><a href="page-dummy-classic-sidebar-left.html">Sidebar Left</a></li>
                                                <li><a href="page-dummy-classic-sidebar-right.html">Sidebar Right</a></li>
                                                <li><a href="page-dummy-modern.html">Modern</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="page-404.html">404 Page</a></li>
                                        <li><a href="page-404-2.html">404 Page 2</a></li>
                                        <li><a href="page-faq.html">FAQ</a></li>
                                        <li><a href="page-pricing.html">Pricing</a></li>
                                        <li><a href="page-password.html">Password Protected</a></li>
                                        <li><a href="footer-styles.html">Footer Styles</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Contact</a>
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="contact.html">Default</a></li>
                                        <li><a href="contact-fluid.html">Fluid</a></li>
                                        <li><a href="contact-simple.html">Simple</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="rd-navbar-aside">
                        <div class="social-buttons">
                            <ul>
                                <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full" title="Drop me a line" target="_blank"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>


<div id="body-content">

    <section id="tt-intro" class="slideshow-intro">
        <div class="tt-intro-inner">
            <div class="gl-carousel-wrap gel-carousel no-padding">

                <div class="owl-carousel cc-height-5 dots-right bg-dark" data-items="1" data-loop="true"
                     data-nav="true" data-nav-speed="500" data-mouse-drag="false" data-dots-speed="500" data-autoplay="true"
                     data-autoplay-timeout="8000" data-autoplay-speed="500"
                     data-autoplay-hover-pause="true">

                    <div class="cc-item">

                        <span class="cover bg-transparent-3-dark"></span>

                        <div class="cc-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/intro/intro-10.jpg); background-position: 50% 50%;"></div>

                        <div class="intro-caption caption-animate intro-caption-xxlg center">
                            <h2 class="intro-subtitle">I can help you make great photos!</h2>
                            <p class="intro-description max-width-1000">
                                Studio photography requires special art of the photographer,<br>
                                and a studio genre is perhaps of greatest popularity...
                            </p>
                            <div class="margin-top-30">
                                <a href="#"
                                   class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Book a Photo Shoot</a>
                                <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">View More</a>
                            </div>
                        </div>

                    </div>

                    <div class="cc-item">

                        <span class="cover bg-transparent-3-dark"></span>

                        <div class="cc-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/intro/intro-9.jpg); background-position: 50% 75%;"></div>

                        <div class="intro-caption caption-animate intro-caption-xxlg center">

                            <h2 class="intro-subtitle">I can help you make great photos!</h2>
                            <p class="intro-description max-width-1000">
                                Wedding photographs give an excellent opportunity to experience <br>
                                the joyful moments of the special day again and again.
                            </p>
                            <div class="margin-top-30">
                                <a href="#"
                                   class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Book a Photo Shoot</a>
                                <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">View More</a>
                            </div>
                        </div>

                    </div>

                    <div class="cc-item">

                        <span class="cover bg-transparent-3-dark"></span>

                        <div class="cc-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/intro/intro-11.jpg); background-position: 50% 50%;"></div>

                        <div class="intro-caption caption-animate intro-caption-xxlg center">

                            <h2 class="intro-subtitle">I can help you make great photos!</h2>
                            <p class="intro-description max-width-1000">
                                Advertising photography provides necessary material for the promotion  <br>
                                of your company on the worldwide market regardless of your business sphere.
                            </p>
                            <div class="margin-top-30">
                                <a href="#"
                                   class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Book a Photo Shoot</a>
                                <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">View More</a>
                            </div>
                        </div>

                    </div>

                    <div class="cc-item">

                        <span class="cover bg-transparent-3-dark"></span>

                        <div class="cc-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/intro/intro-12.jpg); background-position: 50% 37%;"></div>

                        <div class="intro-caption caption-animate intro-caption-xxlg center">

                            <h2 class="intro-subtitle">I can help you make great photos!</h2>
                            <p class="intro-description max-width-1000">
                                You need to carry out a professional subject shooting, <br>
                                as it is said - catalog shoot? We can help you with it!
                            </p>
                            <div class="margin-top-30">
                                <a href="#"
                                   class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Book a Photo Shoot</a>
                                <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">View More</a>
                            </div>
                        </div>

                    </div>

                    <div class="cc-item">

                        <span class="cover bg-transparent-3-dark"></span>

                        <div class="cc-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/intro/intro-13.jpg); background-position: 50% 45%;"></div>

                        <div class="intro-caption caption-animate intro-caption-xxlg center">

                            <h2 class="intro-subtitle">I can help you make great photos!</h2>
                            <p class="intro-description max-width-1000">
                                Studio photography requires special art of the photographer, <br>
                                and a studio genre is perhaps of the greatest popularity.
                            </p>
                            <div class="margin-top-30">
                                <a href="#"
                                   class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Book a Photo Shoot</a>
                                <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">View More</a>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </section>

    <section id="about-me-section">
        <div class="about-me-inner tt-wrap">


            <div class="split-box about-me">
                <div class="container-fluid">
                    <div class="row">
                        <div class="row-lg-height">

                            <div class="col-lg-6 col-lg-height split-box-image no-padding bg-image  wow fadeInUp" data-wow-delay=".3s"
                                 style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/misc/me-1.jpg); background-position: 50% 50%;">

                                <div class="sbi-height padding-height-85"></div>
                            </div>

                            <div class="col-lg-6 col-lg-height col-lg-middle no-padding">

                                <div class="split-box-content sb-content-right">

                                    <div class="custom-heading">
                                        <div class="custom-heading-inner">
                                            <h1 class="custom-heading-title  wow fadeInUp" data-wow-delay=".3s">Welcome to Our Fiona</h1>
                                            <div class="custom-heading-subtitle  wow fadeInUp" data-wow-delay=".5s">We are a creative team passionate about photography.</div>
                                            <hr class="hr-short  wow fadeInUp" data-wow-delay=".7s">
                                        </div>
                                    </div>

                                    <div class="margin-top-30  wow fadeInUp" data-wow-delay=".9s">
                                        <p class="" data-wow-delay="1.1s">
                                            We put our heart and soul into our works. We hope that you can feel it while looking through the
                                            portfolio. Enjoy the emotions transmitted through every shot.
                                        </p>
                                        <p class="" data-wow-delay="1.3s">We specialize in producing quality photography content such as fashion and beauty, collection shooting for clothing designers, actor’s headshots, model tests, retail advertising and online commerce, wedding photos – from one-day shoots to long term relationships. Our clients include ad agencies, fashion retailers, fashion houses, cosmetic companies and individual customers. Working with many industry experts, our team can help you organize your shoot.</p>
                                    </div>

                                    <a href="about-me.html" class="btn btn-primary margin-top-20  wow fadeInUp" data-wow-delay="1.1s">Read more</a>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="split-box what-i-do">
                <div class="container-fluid">
                    <div class="row">
                        <div class="row-lg-height">

                            <div class="col-lg-6 col-lg-push-6 col-lg-height split-box-image no-padding bg-image  wow fadeInUp" data-wow-delay=".3s"
                                 style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/misc/me-2.jpg); background-position: 50% 50%;">

                                <div class="sbi-height padding-height-85"></div>
                            </div>

                            <div class="col-lg-6 col-lg-pull-6 col-lg-height col-lg-middle no-padding">

                                <div class="split-box-content sb-content-left">

                                    <div class="custom-heading">
                                        <div class="custom-heading-inner">
                                            <h1 class="custom-heading-title  wow fadeInUp" data-wow-delay=".3s">What We Do</h1>
                                            <div class="custom-heading-subtitle  wow fadeInUp" data-wow-delay=".5s">Professional photography services</div>
                                            <hr class="hr-short  wow fadeInUp" data-wow-delay=".7s">
                                        </div>
                                    </div>

                                    <div class="margin-top-30  wow fadeInUp" data-wow-delay=".9s">
                                        <p>As a professional Fiona, we provide a variety of photography related services including photo shoots organization, makeup services etc. We specialize in a wide variety of photo shoot genres. Our constant attention to the latest trends in the industry helps us make the photos of our clients look really awesome and thanks to our vast experience we know how to satisfy even the most demanding clients.</p>
                                        <p>
                                            We often say that a picture is worth a thousand words. With the help of camera shots we can
                                            literally freeze the moment in our hands. We collect captures in the photo albums or on the hard
                                            drives in order to get magically transported into the past while looking trough them. Photography
                                            has a truly magical effect on each of us. By looking at it we can recall the scenes from the past
                                            in greater details.
                                        </p>
                                    </div>
                                    <a href="contact.html" class="btn btn-primary margin-top-20  wow fadeInUp" data-wow-delay="1.1s">Contact Us</a>
                                    <a href="categories-grid.html" class="btn btn-dark margin-top-20  wow fadeInUp" data-wow-delay="1.3s">View Our Works</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="gallery-single-section" class="margin-top-100">
        <div class="custom-heading custom-heading-lg  text-center">
            <div class="custom-heading-inner tt-wrap">
                <h1 class="custom-heading-title">Our Projects</h1>
                <div class="custom-heading-subtitle">Our latest photos / <a href="categories-grid.html">View All</a></div>
                <hr class="hr-short">
            </div>
        </div>

        <div class="isotope-wrap ">
            <div class="isotope col-3 gutter-3">
                <div id="gallery" class="isotope-items-wrap lightgallery gsi-color">

                    <div class="grid-sizer"></div>

                    <div class="isotope-item ">

                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-1.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-1.jpg"
                           data-sub-html="<p>City Life</p>">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-1.jpg" class="gs-item-image" alt="">


                            <div class="gsi-image-caption">City Life</div>

                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-2.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-2.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-2.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-3.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-4.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-3.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-4.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-4.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-4.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-5.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-5.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-5.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-6.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-6.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-6.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>
                    <div class="isotope-item">
                        <a href="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/big/gallery-single-big-7.jpg"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-7.jpg">
                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-7.jpg" class="gs-item-image" alt="">
                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="isotope-item">

                        <a href="assets/img/gallery/gallery-single/grid/big/gallery-single-big-8.html"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-8.jpg"
                           data-sub-html="<p>Professional photography for everyone</p>">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-8.jpg" class="gs-item-image" alt="">


                            <div class="gsi-image-caption">Professional photography for everyone</div>

                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="assets/img/gallery/gallery-single/grid/big/gallery-single-big-9.html"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-9.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-9.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>
                    <div class="isotope-item">
                        <a href="assets/img/gallery/gallery-single/grid/big/gallery-single-big-10.html"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-10.jpg">
                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-10.jpg" class="gs-item-image" alt="">
                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="isotope-item">

                        <a href="assets/img/gallery/gallery-single/grid/big/gallery-single-big-11.html"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-11.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-11.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>


                    <div class="isotope-item">

                        <a href="assets/img/gallery/gallery-single/grid/big/gallery-single-big-12.html"
                           class="gallery-single-item lg-trigger wow fadeInUp" data-wow-delay=".3s"
                           data-exthumbnail="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-12.jpg">

                            <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/gallery/gallery-single/grid/gallery-single-12.jpg" class="gs-item-image" alt="">


                            <div class="gs-item-icon"><i class="fa fa-search"></i></div>

                        </a>

                    </div>





                </div>

            </div>

        </div>
    </section>



    <section id="latest-news-section">

        <div class="custom-heading custom-heading-lg padding-on text-center">
            <div class="custom-heading-inner tt-wrap">
                <h1 class="custom-heading-title">Latest From Blog</h1>
                <div class="custom-heading-subtitle">News, Reviews, Tips &amp; Tricks</div>
                <hr class="hr-short">
            </div>
        </div>

        <div class="latest-news-section-inner tt-wrap">

            <div class="latest-news-carousel ">

                <div class="owl-carousel cursor-grab nav-outside-top " data-items="3" data-margin="30" data-loop="true"
                     data-dots="false" data-nav="true" data-nav-speed="500" data-autoplay="true" data-autoplay-timeout="5000"
                     data-autoplay-speed="500" data-autoplay-hover-pause="true" data-tablet-landscape="3"
                     data-tablet-portrait="2" data-mobile-landscape="1" data-mobile-portrait="1">

                    <div class="cc-item">

                        <article class="blog-list-item">


                            <a href="blog-single.html" class="bl-item-image">
                                <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/list/blog-1.jpg"
                                     alt="image">
                            </a>


                            <div class="bl-item-info">
                                <div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
                                <a href="blog-single.html" class="bl-item-title">
                                    <h2>
                                        5 Reasons You Should Fall In Love With
                                        Photography
                                    </h2>
                                </a>
                                <div class="bl-item-meta">
                                    <span class="published">May 26, 2017</span>
                                    <span class="posted-by">
                                        - by <a href="#"
                                                title="View all posts by Fiona">Fiona</a>
                                    </span>
                                </div>

                                <div class="bl-item-desc" data-max-words="14">Photography is an awesome hobby and it is even better as a profession. In this article, we will talk about reasons why you should pursue photography…</div>
                                <a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

                                <ul class="bl-item-attr">
                                    <li>

                                        <a href="blog-single.html#blog-post-comments" class="bl-item-comments-count"
                                           title="Read the comments"><i class="fa fa-comment-o"></i>10</a>

                                    </li>
                                    <li>

                                        <div class="favorite-btn active">
                                            <div class="fav-inner">
                                                <div class="icon-heart">
                                                    <span class="icon-heart-empty"></span>
                                                    <span class="icon-heart-filled"></span>
                                                </div>
                                            </div>
                                            <div class="fav-count">48</div>
                                        </div>

                                    </li>
                                </ul>

                            </div>

                        </article>

                    </div>


                    <div class="cc-item">

                        <article class="blog-list-item">


                            <a href="blog-single.html" class="bl-item-image">
                                <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/list/blog-2.jpg"
                                     alt="image">
                            </a>


                            <div class="bl-item-info">
                                <div class="bl-item-category"><a href="blog-archive.html">Equipment</a></div>
                                <a href="blog-single.html" class="bl-item-title"><h2>10 Top Choices for Aerial Photography</h2></a>
                                <div class="bl-item-meta">
                                    <span class="published">May 26, 2017</span>
                                    <span class="posted-by">- by <a href="#" title="View all posts by Fiona">John Young</a></span>
                                </div>


                                <div class="bl-item-desc" data-max-words="14">Aerial photography gets more popular every day, and in this article, we want to describe how you can succeed in this genre and what…</div>
                                <a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

                                <ul class="bl-item-attr">
                                    <li>

                                        <a href="blog-single.html#blog-post-comments" class="bl-item-comments-count"
                                           title="Read the comments"><i class="fa fa-comment-o"></i>66</a>

                                    </li>
                                    <li>

                                        <div class="favorite-btn">
                                            <div class="fav-inner">
                                                <div class="icon-heart">
                                                    <span class="icon-heart-empty"></span>
                                                    <span class="icon-heart-filled"></span>
                                                </div>
                                            </div>
                                            <div class="fav-count">98</div>
                                        </div>

                                    </li>
                                </ul>

                            </div>

                        </article>

                    </div>


                    <div class="cc-item">

                        <article class="blog-list-item">


                            <a href="blog-single.html" class="bl-item-image">
                                <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/list/blog-3.jpg"
                                     alt="image">
                            </a>


                            <div class="bl-item-info">
                                <div class="bl-item-category"><a href="blog-archive.html">Travel</a></div>
                                <a href="blog-single.html" class="bl-item-title"><h2>How to Take Professional Travel Photos</h2></a>
                                <div class="bl-item-meta">
                                    <span class="published">May 26, 2017</span>
                                    <span class="posted-by">- by <a href="#" title="View all posts by Fiona">Anna Vernik</a></span>
                                </div>


                                <div class="bl-item-desc" data-max-words="14">Professional travel photos that you may see in travel magazines are produced with certain equipment and have some secrets hidden behind…</div>
                                <a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

                                <ul class="bl-item-attr">
                                    <li>

                                        <a href="blog-single.html#blog-post-comments" class="bl-item-comments-count"
                                           title="Read the comments"><i class="fa fa-comment-o"></i>3</a>

                                    </li>
                                    <li>

                                        <div class="favorite-btn active">
                                            <div class="fav-inner">
                                                <div class="icon-heart">
                                                    <span class="icon-heart-empty"></span>
                                                    <span class="icon-heart-filled"></span>
                                                </div>
                                            </div>
                                            <div class="fav-count">54</div>
                                        </div>

                                    </li>
                                </ul>

                            </div>

                        </article>

                    </div>


                    <div class="cc-item">

                        <article class="blog-list-item">


                            <a href="blog-single.html" class="bl-item-image">
                                <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/list/blog-4.jpg"
                                     alt="image">
                            </a>


                            <div class="bl-item-info">
                                <div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
                                <a href="blog-single.html" class="bl-item-title">
                                    <h2>
                                        5 Tips Your Camera Manual Never Told You About
                                        Portrait Photography
                                    </h2>
                                </a>
                                <div class="bl-item-meta">
                                    <span class="published">May 26, 2017</span>
                                    <span class="posted-by">- by <a href="#" title="View all posts by Fiona">Julia Beck</a></span>
                                </div>


                                <div class="bl-item-desc" data-max-words="14">It’s important to read the manual of your camera, but still, no manual can teach you tips & tricks, which knows a professional photographer and…</div>
                                <a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

                                <ul class="bl-item-attr">
                                    <li>

                                        <a href="blog-single.html#blog-post-comments" class="bl-item-comments-count"
                                           title="Read the comments"><i class="fa fa-comment-o"></i>0</a>

                                    </li>
                                    <li>

                                        <div class="favorite-btn">
                                            <div class="fav-inner">
                                                <div class="icon-heart">
                                                    <span class="icon-heart-empty"></span>
                                                    <span class="icon-heart-filled"></span>
                                                </div>
                                            </div>
                                            <div class="fav-count">3</div>
                                        </div>

                                    </li>
                                </ul>

                            </div>

                        </article>

                    </div>


                    <div class="cc-item">

                        <article class="blog-list-item">


                            <a href="blog-single.html" class="bl-item-image">
                                <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/list/blog-5.jpg"
                                     alt="image">
                            </a>


                            <div class="bl-item-info">
                                <div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
                                <a href="blog-single.html" class="bl-item-title">
                                    <h2>
                                        Most Common Wedding Photography Mistakes Every
                                        Beginner Will Makes
                                    </h2>
                                </a>
                                <div class="bl-item-meta">
                                    <span class="published">May 26, 2017</span>
                                    <span class="posted-by">
                                        - by <a href="#"
                                                title="View all posts by Fiona">Fiona</a>
                                    </span>
                                </div>


                                <div class="bl-item-desc" data-max-words="14">All photographers who have little or no experience in this sphere are doomed to make certain mistakes, especially when it comes to wedding…</div>
                                <a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

                                <ul class="bl-item-attr">
                                    <li>

                                        <a href="blog-single.html#blog-post-comments" class="bl-item-comments-count"
                                           title="Read the comments"><i class="fa fa-comment-o"></i>8</a>

                                    </li>
                                    <li>

                                        <div class="favorite-btn">
                                            <div class="fav-inner">
                                                <div class="icon-heart">
                                                    <span class="icon-heart-empty"></span>
                                                    <span class="icon-heart-filled"></span>
                                                </div>
                                            </div>
                                            <div class="fav-count">71</div>
                                        </div>

                                    </li>
                                </ul>

                            </div>

                        </article>

                    </div>


                    <div class="cc-item">

                        <article class="blog-list-item">


                            <a href="blog-single.html" class="bl-item-image">
                                <img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/list/blog-6.jpg"
                                     alt="image">
                            </a>


                            <div class="bl-item-info">
                                <div class="bl-item-category"><a href="blog-archive.html">Food</a> <a href="#">Photography</a></div>
                                <a href="blog-single.html" class="bl-item-title"><h2>The Serious Eats Guide to Food Photography</h2></a>
                                <div class="bl-item-meta">
                                    <span class="published">May 26, 2017</span>
                                    <span class="posted-by">
                                        - by <a href="#"
                                                title="View all posts by Fiona">Fiona</a>
                                    </span>
                                </div>


                                <div class="bl-item-desc" data-max-words="14">After rapid development of Instagram, many people pursued food photography, a genre, which quickly became a trend on the Web. We’ll try to…</div>
                                <a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

                                <ul class="bl-item-attr">
                                    <li>

                                        <a href="blog-single.html#blog-post-comments" class="bl-item-comments-count"
                                           title="Read the comments"><i class="fa fa-comment-o"></i>28</a>

                                    </li>
                                    <li>

                                        <div class="favorite-btn">
                                            <div class="fav-inner">
                                                <div class="icon-heart">
                                                    <span class="icon-heart-empty"></span>
                                                    <span class="icon-heart-filled"></span>
                                                </div>
                                            </div>
                                            <div class="fav-count">65</div>
                                        </div>

                                    </li>
                                </ul>

                            </div>

                        </article>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section id="testimonials-section" class="margin-top-30 bg-dark bg-image-fixed"
             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/misc/misc-4.jpg); background-position: 50% 50%;">

        <span class="cover bg-transparent-7-dark"></span>
        <div class="testimonials-section-inner tt-wrap">

            <div class="testimonials-carousel tm-center">


                <div class="owl-carousel cursor-grab nav-outside dots-outside" data-items="1" data-loop="true"
                     data-autoheight="true" data-nav="true" data-nav-speed="500" data-dots-speed="500" data-autoplay="true"
                     data-autoplay-timeout="8000" data-autoplay-speed="500" data-autoplay-hover-pause="true">

                    <div class="cc-item">

                        <div class="testimonial-item text-white">
                            <div class="tm-image bg-image"
                                 style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/small/avatar/avatar-2.jpg); background-position: 50% 50%;"></div>
                            <blockquote>
                                <p>“Your photos are stunning! Thank you very much. They are all just spectacular and a gift I will always treasure. I am really grateful for your services and will refer more people to you.”</p>
                                <small>Anna Clarkson</small>
                            </blockquote>
                        </div>

                    </div>


                    <div class="cc-item">

                        <div class="testimonial-item text-white">
                            <div class="tm-image bg-image"
                                 style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/small/avatar/avatar-3.jpg); background-position: 50% 50%;"></div>
                            <blockquote>
                                <p>“The photos are great and capture the personality and spirit of the subjects. My son does not like to pose for pictures, but in the photos of him, he looks natural and happy. Thank you!”</p>
                                <small>John Smith</small>
                            </blockquote>
                        </div>

                    </div>


                    <div class="cc-item">

                        <div class="testimonial-item text-white">
                            <div class="tm-image bg-image"
                                 style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/small/avatar/avatar-4.jpg); background-position: 10% 50%;"></div>
                            <blockquote>
                                <p>“Thank you for an amazing photo shoot and for capturing all our ideas without missing a beat. You were a blast to work with and I loved every minute of it! I hope to work with you in the future.”</p>
                                <small>Jack Paterson</small>
                            </blockquote>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="call-to-action-section bg-gray-3">
        <div class="full-cover for-light-style bg-image"
             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/pattern/bg-pattern-2-light.png); background-position: 50% 50%;"></div>
        <div class="full-cover for-dark-style bg-image"
             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/pattern/bg-pattern-2-dark.png); background-position: 50% 50%;"></div>
        <div class="call-to-action-inner tt-wrap">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="custom-heading custom-heading-lg text-center">
                        <div class="custom-heading-inner tt-wrap">
                            <h1 class="custom-heading-title wow fadeInUp" data-wow-delay=".1s">24/7 Support</h1>
                            <hr class="hr-short wow fadeInUp" data-wow-delay=".3s">
                        </div>
                    </div>

                    <div class="margin-top-30 max-width-800 margin-auto wow fadeInUp" data-wow-delay=".5s">
                        <p>Our website is made to become your reliable guide being organized in a simple manner, so you can easily find the needed proposition with true-to-life photos and comprehensive descriptions. We are always ready to 24/7 Support and answer all your questions. Your trust will be justified.</p>

                        <div class="margin-top-30">
                            <a href="page-dummy-modern.html" class="btn btn-dark margin-top-5 margin-right-5 wow fadeInUp" data-wow-delay=".7s">View More</a>
                            <a href="contact.html" class="btn btn-primary margin-top-5 wow fadeInUp" data-wow-delay=".9s">Contacts</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footer" class="footer-dark no-margin-top">
        <div class="footer-inner">
            <div class="footer-container tt-wrap">
                <div class="row">
                    <div class="col-md-3">

                        <div id="footer-logo">
                            <a href="index.html" class="logo-dark"><img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/logo-dark.png" alt="logo"></a>
                            <a href="index.html" class="logo-light"><img src="../../static.livedemo00.template-help.com/fiona_v2/assets/img/logo-light.png" alt="logo"></a>



                        </div>

                    </div>
                    <div class="col-md-5">

                        <div class="footer-text">
                            <h4>Creative Fiona</h4>
                            We are a team of creative photographers specializing in producing quality photography content, which varies in styles and genres. We can handle one-day shoots as well as long term relationships.
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="social-buttons">
                            <ul>
                                <li>
                                    <a href="#"
                                       class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook"
                                       target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social-min btn-default btn-rounded-full"
                                       title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social-min btn-default btn-rounded-full"
                                       title="Follow me on Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Pinterest"
                                       target="_blank"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social-min btn-default btn-rounded-full"
                                       title="Follow me on Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
                                </li>
                                <li>
                                    <a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full"
                                       title="Drop me a line" target="_blank"><i class="fa fa-envelope"></i></a>
                                </li>
                            </ul>
                        </div>


                        <form class="rd-form rd-mailform form-inline" data-form-output="form-output-global" data-form-type="contact" method="post" action="http://livedemo00.template-help.com/fiona_v2/assets/bat/rd-mailform.php">

                            <div class="form-wrap">
                                <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@@Email @@Required">
                                <label class="form-label" for="contact-email">E-mail</label>
                            </div>

                            <button class="button btn btn-primary form-button" type="submit">Send</button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-container tt-wrap">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">

                            <ul class="footer-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-me.html">About</a></li>
                                <li><a href="albums-grid-fluid-2.html">Portfolio</a></li>
                                <li><a href="blog-list-grid.html">Blog</a></li>
                                <li><a href="page-faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>

                        </div>
                        <div class="col-md-6 col-md-pull-6">

                            <div class="footer-copyright">
                                <p>&copy; 2017 / All rights reserved</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fa fa-chevron-up"></i></a>
    </section>

</div>


<div class="snackbars" id="form-output-global"></div>
