<!--SECTION FOOTER-->
<section id="footer" class="footer-dark no-margin-top">
    <div class="footer-inner">
        <div class="footer-container tt-wrap">
            <div class="row">
                <div class="col-md-3">

                    <div id="footer-logo">
                        <!--a href="index.html" class="logo-dark"><img src="~/Content/img/esparza.png" alt="logo"></a-->
                        <a href="/" class="logo-light"><img src="~/Content/img/bigger.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer-text">
                        Somos una empresa responsable, profesional e innovadora, dedicada a capturar los mejores momentos de tu vida, estamos comprometidos con nuestros clientes y te ofrecemos productos de la más alta calidad.
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="social-buttons">
                        <ul>
                            <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-container tt-wrap">
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                    </div>
                    <div class="col-md-6 col-md-pull-6">

                        <div class="footer-copyright">
                            <p>&copy; Grupo Esparza @DateTime.Now.Year  / Todos los derechos reservados</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>