<!--SECTION FOOTER-->
<section id="footer" class="footer-dark no-margin-top">
    <div class="footer-inner">
        <div class="footer-container tt-wrap">
            <div class="row">

                <!--LOGO FOOTER SECTION-->
                <div class="col-md-3">
                    <div id="footer-logo">
                        <div id="footer-logo">
                            <a href="/" class="logo-light"><img src="~/Content/img/bigger.png" alt="logo"></a>
                        </div>
                    </div>
                </div>

                <!-- EPIC TEXT -->
                <div class="col-md-5">
                    <div class="footer-text">
                        <h4>Grupo Esparza Fotografía</h4>
                            Somos una empresa responsable, profesional e innovadora, dedicada a capturar los mejores momentos de tu vida, estamos comprometidos con nuestros clientes y te ofrecemos productos de la más alta calidad.
                    </div>
                </div>

                <!-- CONTACT INFORMATION -->
                <div class="col-md-4">
                    <div id="footer-logo">
                            <p><i class="fa fa-home"></i>  Hotel María Benita - Local 5. Zacatecas, Zac.</p>
                            <p>
                                <i class="fa fa-phone"></i>
                                +52 449 356 4841<br />
                            </p>
                            <p><i class="fa fa-envelope"></i> email: <a href="#" target="_blank"><span class="__cf_email__">contactogrupoesparza@gmail.com</span></a></p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- RIGHTS RESERVED -->
        <div class="footer-bottom">
            <div class="footer-container tt-wrap">
                <div class="row">
                    <div style="text-align:center;" class="col-md-6">
                        <div class="footer-copyright">
                            <p>&copy; Grupo Esparza @DateTime.Now.Year  / Todos los derechos reservados</p>
                        </div>
                    </div>
                    <!--div style="text-align:center;" class="col-md-6">
                        <div class="footer-copyright">
                            <small>Powered by </small>  <a target="_blank" href="http://www.xiara.com.mx">Xiara</a>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
    <a href="#body" class="scrolltotop sm-scroll" title="Scroll to top" style="display: inline;"><i class="fa fa-chevron-up"></i></a>
</section>
