<!-- Contact body Content -->
<section id="contact-section">
    <div class="contact-section-inner tt-wrap">
        <div class="split-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="row-lg-height full-height-vh">

                        <div class="col-lg-6 col-lg-height col-lg-middle bg-image" style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/misc/contact-bg.jpg); background-position: 50% 50%;">

                            <div class="cover"></div>

                            <div class="split-box-content text-left no-padding-left no-padding-right">

                                <div class="contact-info-wrap">
                                    <div class="contact-info">
                                        <p><i class="fa fa-home"></i> Hotel María Benita - Local 5. Zacatecas, Zac.</p>
                                        <p><i class="fa fa-phone"></i>+52 449 356 4841</p>
                                        <p><i class="fa fa-envelope"></i><a href="http://livedemo00.template-help.com/cdn-cgi/l/email-protection#0665696b7667687f46636b676f6a2865696b" target="_blank"><span class="__cf_email__" data-cfemail="4d2e22203d2c23340d28202c2421632e2220"> contactogrupoesparza@gmail.com</span></a></p>
                                    </div>

                                    <div class="social-buttons margin-top-20">
                                        <ul>
                                            <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-lg-height col-lg-middle no-padding">
                            <div class="split-box-content">
                                <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact"
                                      method="post" action="http://livedemo00.template-help.com/fiona_v2/assets/bat/rd-mailform.php">
                                    <div class="form-wrap">
                                        <input class="form-input" id="contact-name" type="text" name="name"
                                               data-constraints="@@Required">
                                        <label class="form-label" for="contact-name">Your Name</label>
                                    </div>
                                    <div class="form-wrap">
                                        <input class="form-input" id="contact-phone" type="text" name="phone"
                                               data-constraints="@@Numeric">
                                        <label class="form-label" for="contact-phone">Phone</label>
                                    </div>
                                    <div class="form-wrap">
                                        <label class="form-label" for="contact-message">Your Message</label>
                                        <textarea class="form-input" id="contact-message" name="message"
                                                  data-constraints="@@Required"></textarea>
                                    </div>
                                    <div class="form-wrap">
                                        <input class="form-input" id="form-email" type="email" name="email"
                                               data-constraints="@@Email @@Required">
                                        <label class="form-label" for="form-email">E-mail</label>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Maps -->
                <div class="row">
                    <div class="col-lg-12 no-padding">
                        
                        <div id="map"></div>
                    </div>
                </div>
                <!---------->

            </div>
        </div>
    </div>
</section>
