<!-- About Header -->
<section id="page-header">
    <div class="page-header-image bg-image" style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/misc/page-header-bg-4.jpg);">
        <div class="cover bg-transparent-5-dark"></div>
    </div>
    <div class="page-header-inner tt-wrap">

        <div class="page-header-caption ph-caption-lg parallax-4 fade-out-scroll-3">
            <h1 class="page-header-title">Grupo Esparza</h1>
            <hr class="hr-short">
            <div class="page-header-description" data-max-words="40">
                Paquetes de graduación y fotografía profesional
            </div>
        </div>
    </div>
</section>
