<!--Section Slider Index - Grupo Esparza @DateTime.Now.Year -->
<section id="tt-intro" class="slideshow-intro">
    <div class="tt-intro-inner">
        <div class="gl-carousel-wrap gel-carousel no-padding">

            <div class="owl-carousel cc-height-5 dots-right bg-dark" data-items="1" data-loop="true"
                 data-nav="true" data-nav-speed="500" data-mouse-drag="false" data-dots-speed="500" data-autoplay="true"
                 data-autoplay-timeout="8000" data-autoplay-speed="500"
                 data-autoplay-hover-pause="true">

                <div class="cc-item">
                    <span class="cover bg-transparent-3-dark"></span>

                    <div class="cc-image bg-image"
                         style="background-image: url(../../../Content/img/graduation.jpg); background-position: 50% 50%;"></div>

                    <div class="intro-caption caption-animate intro-caption-xxlg center">
                        <h2 class="intro-subtitle">Paquetes de graduación!</h2>
                        <p class="intro-description max-width-1000">
                           Contamos con una amplia variedad de paquetes de graduación,<br>
                            todo para capturar ese momento tan especial...
                        </p>
                        <div class="margin-top-30">
                            <a href="@Url.Action("register", "account")"
                               class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Solicita tu paquete</a>
                            <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">Ver más</a>
                        </div>
                    </div>

                </div>

                <div class="cc-item">
                    <span class="cover bg-transparent-3-dark"></span>
                    <div class="cc-image bg-image"
                         style="background-image: url(../../../Content/img/intro-11.jpg); background-position: 50% 75%;"></div>
                    <div class="intro-caption caption-animate intro-caption-xxlg center">
                        <h2 class="intro-subtitle">I can help you make great photos!</h2>
                        <p class="intro-description max-width-1000">
                            Wedding photographs give an excellent opportunity to experience <br>
                            the joyful moments of the special day again and again.
                        </p>
                        <div class="margin-top-30">
                            <a href="#"
                               class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Book a Photo Shoot</a>
                            <a href="albums-grid-fluid-2.html" class="btn btn-white-bordered margin-top-5">View More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
