<!-- Testimonios de clientes-->
<section id="testimonials-section" class="margin-top-30 bg-dark bg-image-fixed"
         style="background-image: url(../../../Content/img/contact-background.jpg); background-position: 50% 50%;">

    <span class="cover bg-transparent-7-dark"></span>
    <div class="testimonials-section-inner tt-wrap">

        <div class="testimonials-carousel tm-center">


            <div class="owl-carousel cursor-grab nav-outside dots-outside" data-items="1" data-loop="true"
                 data-autoheight="true" data-nav="true" data-nav-speed="500" data-dots-speed="500" data-autoplay="true"
                 data-autoplay-timeout="8000" data-autoplay-speed="500" data-autoplay-hover-pause="true">

                <div class="cc-item">

                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/small/avatar/avatar-2.jpg); background-position: 50% 50%;"></div>
                        <blockquote>
                            <p>“Your photos are stunning! Thank you very much. They are all just spectacular and a gift I will always treasure. I am really grateful for your services and will refer more people to you.”</p>
                            <small>Anna Clarkson</small>
                        </blockquote>
                    </div>

                </div>


                <div class="cc-item">

                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image"
                             style="background-image: url(../../static.livedemo00.template-help.com/fiona_v2/assets/img/blog/small/avatar/avatar-3.jpg); background-position: 50% 50%;"></div>
                        <blockquote>
                            <p>“The photos are great and capture the personality and spirit of the subjects. My son does not like to pose for pictures, but in the photos of him, he looks natural and happy. Thank you!”</p>
                            <small>John Smith</small>
                        </blockquote>
                    </div>

                </div>


                <div class="cc-item">

                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image"
                             style="background-image: url(../../../Content/img/intro-10.jpg); background-position: 10% 50%;"></div>
                        <blockquote>
                            <p>“Thank you for an amazing photo shoot and for capturing all our ideas without missing a beat. You were a blast to work with and I loved every minute of it! I hope to work with you in the future.”</p>
                            <small>Jack Paterson</small>
                        </blockquote>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>