<section id="gallery-list-section">
    <div class="isotope-wrap tt-wrap">


        <div class="isotope col-3 gutter-3">


            <div class="isotope-top-content">

                <div class="isotope-filter">
                    <div class="isotope-filter-button">
                        <span class="ifb-icon"><i class="fa fa-sliders"></i></span>
                        <span class="ifb-icon-close"><i class="fa fa-times"></i></span>
                    </div>
                    <ul class="isotope-filter-links">
                        <li><a href="#" class="active" data-filter="*">Show All</a></li>
                        <li><a href="#" data-filter=".fashion" class="">Fashion</a></li>
                        <li><a href="#" data-filter=".portraits" class="">Portraits</a></li>
                        <li><a href="#" data-filter=".black-and-white" class="">Black &amp; White</a></li>
                        <li><a href="#" data-filter=".outdoor" class="">Outdoor</a></li>
                    </ul>
                </div>

            </div>


            <div class="isotope-items-wrap gli-colored" style="position: relative; height: 1981.75px;">

                <div class="grid-sizer"></div>

                <div class="isotope-item outdoor iso-height-1" style="position: absolute; left: 0px; top: 0px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">
                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">49</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">The Old Man Dreams</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item black-and-white iso-height-1" style="position: absolute; left: 248px; top: 0px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-2.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">85</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">These Wonderful Freckles</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Black &amp; White</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item fashion iso-height-1" style="position: absolute; left: 0px; top: 247px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-3.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>



                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">7</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Paris Fashion Week</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Fashion</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item outdoor iso-height-1" style="position: absolute; left: 248px; top: 247px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-4.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">12</div>
                                    </div>

                                </li>
                            </ul>


                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Afternoon Photoshoot</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item portraits iso-height-1" style="position: absolute; left: 0px; top: 495px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-5.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">96</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Sit Back and Relax</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Portraits</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item fashion outdoor iso-height-1" style="position: absolute; left: 248px; top: 495px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-6.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">56</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Something In The Water vol.2</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Fashion</a>, <a href="albums-archive.html">Outdoor</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item outdoor iso-height-1" style="position: absolute; left: 0px; top: 743px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-7.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">53</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Autumn Nights</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item fashion iso-height-1" style="position: absolute; left: 248px; top: 743px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-8.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">71</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Beauty &amp; Fashion</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Fashion</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item black-and-white iso-height-1" style="position: absolute; left: 0px; top: 990px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-9.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">68</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">No Colors This Time</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Black &amp; White</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item outdoor iso-height-1" style="position: absolute; left: 248px; top: 990px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-10.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">32</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Monday's Monochromes</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item fashion portraits iso-height-1" style="position: absolute; left: 0px; top: 1238px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-11.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">13</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Something In The Water</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Fashion</a>, <a href="albums-archive.html">Portraits</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item outdoor fashion iso-height-1" style="position: absolute; left: 248px; top: 1238px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-12.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">11</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">Beautiful Bride</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a>, <a href="albums-archive.html">Fashion</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item outdoor fashion iso-height-1" style="position: absolute; left: 0px; top: 1486px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-13.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">7</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">My Super Awesome Album</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a>, <a href="albums-archive.html">Fashion</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item portraits iso-height-1" style="position: absolute; left: 248px; top: 1486px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-14.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">23</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">One Day Shoot With Ordinary People</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Portraits</a></span>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="isotope-item outdoor iso-height-1" style="position: absolute; left: 0px; top: 1734px;">

                    <div class="gallery-list-item">

                        <div class="gl-item-image-wrap">

                            <a href="gallery-single-grid.html" class="gl-item-image-inner">
                                <div class="gl-item-image bg-image" style="background-image: url(assets/img/gallery/gallery-list/gallery-list-15.jpg); background-position: 50% 50%"></div>

                                <span class="gl-item-image-zoom"></span>
                            </a>


                            <ul class="gli-meta">

                                <li>

                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">6</div>
                                    </div>

                                </li>
                            </ul>

                        </div>



                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><a href="gallery-single-grid.html">The Beauty of Nature</a></h2>
                                <span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="isotope-pagination">
                <div class="iso-load-more">
                    <a class="btn btn-dark-bordered btn-lg" href="">View More</a>
                </div>
            </div>

        </div>

    </div>
</section>
